<footer>
    <p>© 2025 EAFIT e-Learning - Todos los derechos reservados</p>
    <p>
        <a href="#">Política de privacidad</a> |
        <a href="#">Términos y condiciones</a> |
        <a href="#">Ayuda</a>
    </p>
    <p>
        Síguenos en: 
        <a href="https://www.facebook.com/universidadeafit/?locale=es_LA" target="_blank">Facebook</a> |
        <a href="https://x.com/EAFIT?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor" target="_blank">X</a> |
        <a href="https://www.instagram.com/eafit/?hl=es" target="_blank">Instagram</a>
    </p>
</footer>
