// Tema claro
:root, .light-theme {
  --background-color: #d7dadb;
  --text-color:black;
  --bg-color-card: #edeeee;
  --bg-icon: #fff;
}

// Tema oscuro
.dark-theme {
  --background-color: #000027;
  --text-color:white;
  --bg-color-card: #354985;
  --bg-icon: #222936;
}





html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
